c = get_config()

c.BaseNN.n_bins=11
c.BaseNN.vocabulary_size=276500 
c.DataGenerator.vocabulary_size=276500
c.BaseNN.embedding_size=300
c.BaseNN.max_q_len=10
c.BaseNN.max_d_len=50
c.DataGenerator.max_q_len=10
c.DataGenerator.max_d_len=50
c.BaseNN.max_epochs=2
c.BaseNN.eval_frequency=10000
c.BaseNN.checkpoint_steps=10000
c.BaseNN.batch_size=16
c.Knrm.emb_in='/workplace/data1/train-dev/pad-title-url/title.word2vec.hashed'