c = get_config()

c.ClickNN.n_bins=11
c.ClickNN.vocabulary_size=276500 
c.ClickDataGenerator.vocabulary_size=276500
c.ClickNN.embedding_size=300
c.ClickNN.max_q_len=10
c.ClickNN.max_d_len=50
c.ClickDataGenerator.max_q_len=10
c.ClickDataGenerator.max_d_len=50
c.ClickNN.max_epochs=2
c.ClickNN.eval_frequency=10000
c.ClickNN.checkpoint_steps=10000
c.ClickNN.batch_size=16
c.Knrm.emb_in='/workplace/data1/train-dev/pad-title-url/title.word2vec.hashed'